.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
    /* grid-template-rows: repeat(4, 1fr); */
    gap: 14px;
    max-width: 1184px;
    min-width: 288px;
    height: 91%;
    margin: 92px auto;
    padding: 0 5%;
}