  .places {
    max-width: 984px;
    margin: 92px auto 0;
    display: flex;
    flex-direction: column;
    grid-gap: 80px;
  }

@media (max-width: 1024px) {
  .places {
  	max-width: 928px;
  }
}
@media (max-width: 768px) {
  .places {
  	max-width: 720px;
  	margin-top: 88px;
  	grid-gap: 73px;
  }
}
@media (max-width: 425px) {
  .places {
    margin-top: 64px;
    grid-gap: 50px;
  }
}