.lead__image {
  width: 100%;
  max-width: 984px;
  margin: 64px auto 0;
}
@media (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
  }
}
@media (max-width: 425px) {
  .lead__image {
    margin-top: 40px;
  }
}