.lead__caption {
    align-self: flex-start;
    margin: 8px 0 92px 4.6%;
    width: 160px;
    min-height: 14px;
    line-height: 14px;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    /* margin: 8px 0 0; */
    /* position: absolute;
    left: 4.6%;
    bottom: 0; */
}