.lead__caption {
    /* align-self: flex-start; */
    width: 160px;
    min-height: 14px;
    margin: 8px 0 0;
    line-height: 14px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    position: absolute;
    left: 6.4%;
    bottom: 0;
}