.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 92px auto 0;
  padding-bottom: 24px;
  max-width: 1184px;
}

@media (max-width: 1024px) {
  .footer {
  	max-width: 928px;
  }
}
@media (max-width: 768px) {
  .footer {
  	max-width: 720px;
  }
}
@media (max-width: 425px) {
  .footer {
  	flex-direction: column;
    align-items: flex-start;
  	max-width: 288px;
  	margin-top: 64px;
  }
}